@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

[data-theme="light"] {
  --background: white;
  --foreground: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
